<font color='darkorange'> Unless otherwise noted, **this notebook will not be reviewed or autograded.**</font> You are welcome to use it for scratchwork, but **only the files listed in the exercises will be checked.**

---

# Exercises

For these exercises, add your functions to the *apputil\.py* file and *app\.py* file as instructed. *These exercises use the same [Titanic dataset](https://www.kaggle.com/competitions/titanic/data) as the lab.*


## Exercise 1: Survival Patterns

For this exercise you will analyze survival patterns on the Titanic by looking at passenger class, sex, and age group. Name the function `survival_demographics()` (with no arguments).

1. Create a new column in the Titanic dataset that classifies passengers into age categories (i.e., a pandas `category` series). The categories should be:
    - `"Child"` (up to 12)
    - `"Teen"` (13–19)
    - `"Adult"` (20–59)
    - `"Senior"` (60+)  
  
	Hint: The `pd.cut()` function might come in handy here.

2. Group the passengers by class, sex, and age group.  

3. For each group, calculate:  
    - The total number of passengers, `n_passengers`
    - The number of survivors, `n_survivors`
    - The survival rate, `survival_rate`

4. Return a table that includes the results for *all* combinations of class, sex, and age group.  

5. Order the results so they are easy to interpret.  

6. Come up with a clear question that your results table makes you curious about (e.g., “Did women in first class have a higher survival rate than men in other classes?”). Write this question in your `app.py` file above the call to your visualization function, using `st.write("Your Question Here")`.
   
7. Create a Plotly visualization in a function named `visualize_demographic()` that directly addresses your question by returning a Plotly figure (e.g., `fig = px. ...`). You are free to choose the chart type that you think best communicates the findings. Be creative — try different approaches, compare them, and ensure that your chart clearly answers the question you posed.

In [29]:
import pandas as pd 
import plotly.express as px 
import plotly.io as pio
pio.renderers.default = "browser"

df = pd.read_csv('https://raw.githubusercontent.com/leontoddjohnson/datasets/main/data/titanic.csv')
bins = [0, 12, 19, 59, 110]
labels = ["Child", "Teen", "Adult", "Senior"]

#df.head()
def survival_demographics():
    df["Age Group"]=pd.cut(df["Age"], bins=bins, labels=labels)
    grouped = (
        df.groupby(["Pclass", "Sex", "Age Group"])
          .agg(
              n_passengers=("Survived", "count"),
              n_survivors=("Survived", "sum"),
          )
          .reset_index()
    )

    # Compute survival rate
    grouped["survival_rate"] = grouped["n_survivors"] / grouped["n_passengers"]

    return grouped

survival_demographics()

#Were there more female or male survivors by age group?
def visualize_demographic():
    df["Age Group"]=pd.cut(df["Age"], bins=bins, labels=labels)
    # grouped = (
    #     df.groupby(["Pclass", "Sex", "Age Group"])
    #       .agg(
    #           n_passengers=("Survived", "count"),
    #           n_survivors=("Survived", "sum"),
    #       )
    #       .reset_index()
    # )
    # grouped["survival_rate"] = grouped["n_survivors"] / grouped["n_passengers"]
    fig = px.histogram(#df,
             df[df["Survived"] ==1],                     
             x='Age Group',
             color='Sex',
             hover_data=['Name'],
             template='plotly_white',
             color_discrete_sequence=px.colors.qualitative.D3
            )
    fig.show()
    return fig

visualize_demographic()

## Exercise 2: Family Size and Wealth

Using the Titanic dataset, write a function named `family_groups()` to explore the relationship between family size, passenger class, and ticket fare.  

1. Create a new column in the Titanic dataset that represents the total family size for each passenger, `family_size`. Family size is defined as the number of siblings/spouses aboard plus the number of parents/children aboard, plus the passenger themselves.

2. Group the passengers by family size and passenger class. For each group, calculate:  
   - The total number of passengers, `n_passengers`
   - The average ticket fare, `avg_fare`
   - The minimum and maximum ticket fares (to capture variation in wealth), `min_fare` and `max_fare`

3. Return a table with these results, sorted so that the values are clear and easy to interpret (for example, by class and then family size).

4. Write a function called `last_names()` that extracts the last name of each passenger from the `Name` column, and returns the count for each last name (i.e., a pandas series with last name as index, and count as value). Does this result agree with that of the data table above? Share your findings in your app using `st.write`.

5. Just like you did in Exercise 1, come up with a clear question that your results makes you curious about. Write this question in your app.py file above the call to your visualization function. Then, create a Plotly visualization in a function named `visualize_families()` that directly addresses your question. As in Exercise 1 you are free to choose the chart type that you think best communicates the findings.

In [ ]:
import pandas as pd 
import plotly.express as px 
import plotly.io as pio
pio.renderers.default = "browser"

df_family= pd.read_csv('https://raw.githubusercontent.com/leontoddjohnson/datasets/main/data/titanic.csv')

def family_groups():
    df_family['Family_Size'] = df_family['SibSp'] + df_family['Parch'] + 1
    #group by family size and passenger class
    # for ea group calculate
    # n_passengers - total num of passengers
    # avg_fare -average ticket fare 
    #min_fare, max_fare -min/max ticket faires
    grouped = (
        df_family.groupby(["Family_Size", "Pclass"])
          .agg(
              n_passengers=("PassengerId", "count"),
              avg_fare=("Fare", "mean"),
              min_fare=("Fare", "min"),
              max_fare=("Fare", "max")
          )
          .reset_index()
          .sort_values(["Pclass", "Family_Size"])
    )


    return grouped

family_groups()

    Family_Size  Pclass  n_passengers    avg_fare  min_fare  max_fare
0             1       1           109   63.672514    0.0000  512.3292
3             2       1            70   91.848039   29.7000  512.3292
6             3       1            24   95.681075   26.2833  211.5000
9             4       1             7  133.521429  120.0000  151.5500
12            5       1             2  262.375000  262.3750  262.3750
15            6       1             4  263.000000  263.0000  263.0000
1             1       2           104   14.066106    0.0000   73.5000
4             2       2            34   24.682962   11.5000   33.0000
7             3       2            31   31.693819   13.0000   73.5000
10            4       2            13   36.575969   11.5000   65.0000
13            5       2             1   23.000000   23.0000   23.0000
16            6       2             1   18.750000   18.7500   18.7500
2             1       3           324    9.272052    0.0000   56.4958
5             2       3            57   13.410023    6.4958   24.1500
8             3       3            47   16.378277    7.2292   24.1500
11            4       3             9   20.103689   15.8500   23.4500
14            5       3            12   26.972233   21.0750   34.3750
17            6       3            17   32.420588   27.9000   39.6875
18            7       3            12   29.366667    7.9250   31.3875
19            8       3             6   46.900000   46.9000   46.9000
20           11       3             7   69.550000   69.5500   69.5500

## Bonus Question

Add a new column, `older_passenger`, to the Titanic dataset that indicates whether each passenger’s age is above the median age for *their* passenger class. So, suppose row $x$ is in passenger class 2. Then, a value of `True` at row $x$ would indicate that passenger older than 50% of class 2 passengers, and `False` would indicate that they younger.

- You should use pandas functions to accomplish this.
- The new column should contain Boolean values (True if the age is above the median, False if less than or equal to).
- Return the updated table in the function `determine_age_division()`

Once you’ve created this column, consider how this age division relates to your analysis above. Try to visualize this analysis in Plotly using the function name `visualize_age_division()`.